<!DOCTYPE html>
<html lang="en">

<head>
    <title>Koushi</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="site">
    <div class="container">

        <nav class="navbar">
            <a href="/"><img class="logo" src="/assets/img/logo.png"></a>
            <ul class="nav-links">
                {{#if user}}
                <li class="presentation"><a href="/users/logout">Logout</a></li>

                {{else}}
                <li class="presentation"><a href="/users/login">Log In</a></li>
                <li class="presentation"><a href="/users/register">Register</a></li>
                {{/if}}

            </ul>
        </nav>
        {{{body}}}
    </div>
    </div>
</body>

</html>