<!DOCTYPE html>
<html lang="en">

<head>
    <title>shinsa</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="site">
    <div class="container">

        <nav class="navbar">
            <a href="/"><img class="logo" src="/assets/img/logo.png"></a>
            <ul class="nav-links">
                {{#user}}
                <div class="dropdown">
                    <div class="username">{{username}} <i class="fa fa-angle-down"></i></div>
                    <div id="dropdown-menu" class="dropdown-content">
                        <a href="/profile">
                            <li class="menu">Home</li>
                        </a>
                        <a href="/html">
                            <li class="menu">HTML</li>
                        </a>
                        <a href="/css">
                            <li class="menu">CSS</li>
                        </a>
                        <a href="/javascript">
                            <li class="menu">JavaScript</li>
                        </a>
                        <a href="/logout">
                            <li class="menu">Logout</li>
                        </a>
                    </div>
                </div>


                {{else}}
                <li class="log-user"><a class="log-link" href="/login">Log In</a></li>
                {{/user}}

            </ul>
        </nav>
        {{{body}}}
    </div>
    </div>
    <footer class="footer">@justin.park</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>