<nav class="navbar">
<img src="/assets/img/logo.png" class="img-logo">
<div class="nav-buttons">
        <a href="/login"><div id="log-in">Log In</div></a>
        <a href="/signup"><div id="register">Sign Up</div></a>
        </div>
</nav>

<div class="header">
    <h1>Study. Prepare. Get hired.</h1>
        <h3>Sign up and improve your skills</h3>
        <form class="register-form" action="/register" method="POST">
            <div class="input-group">
                <input type="text" name="first_name" id="first-name" placeholder="First Name" required aria-required="true">
            </div>

            <div class="input-group">
                <input type="text" name="last_name" id="last-name" placeholder="Last Name" required aria-required="true">
            </div>

            <div class="input-group">
                <input type="email" name="email" id="email" placeholder="E-mail" required aria-required="true">
            </div>
            
            <div class="input-group">
                <input type="password" name="password" id="password" placeholder="Password" required aria-required="true" maxlength="20" minlength="6">
            </div>

            <div class="input-group">
                <input type="password" name="password_confirm" id="validate" placeholder="Confirm Password" required aria-required="true">
            </div>
            <h6 class="terms">By signing up you agree to our Terms of Service and Privacy Policy</h6>
            <button type="submit" class="btn btn-default dropdown-toggle" id="submit">Sign up & start preparing</button>
            <div class="warning"></div>
    </form>
    </div>
<div class="info">
    <div id="inner-info">
        <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:48px; color: #999"></i>
        <h3>STUDENTS</h3>
        <h2>Practice, Study, Prepare</h2>
        <p>Flip through our study guides and take our practice tests and prepare for your next technical interview</p>
        <hr class="line">
        <i class="fa fa-quote-left" aria-hidden="true" style="font-size:30px; color: #999; text-align: left;"></i>
        <div class="quote">Koushi helped me really study for my technical interview, it wasn't just coding I needed to know but concepts'<p>- Marc Graham, UCLA Coding Bootcamp</div>
    </div>
</div>

<footer class="footer">@justin.park @andrey.orlov @eva.lieu @francis.ian.lao</footer>