<div class="header">
    {{#if user}}
    <div class="study-header">
        <a class="back-to-profile" href="/profile">Prepare for a career in web development!<p>Keep studying!</p></a>
    </div>
    {{else}}

    <h1>Study. Prepare. Get hired.</h1>
    <h3>Join over 1 million programmers and improve your knowledge</h3>
    <a href="/register"><button id="submit">Register with shinsa today!</button></a> {{/if}}


    </form>
</div>
<div class="info">
    <div id="inner-info">
        <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:48px; color: #999"></i>
        <h3>STUDENTS</h3>
        <h2>Practice, Study, Prepare</h2>
        <p>Flip through our study guides and take our practice tests and prepare for your next technical interview</p>
        <hr class="line">
        <i class="fa fa-quote-left" aria-hidden="true" style="font-size:20px; color: #999; text-align: left;"></i>
        <div class="quote">Shinsa helped me really study for my technical interview, it wasn't just coding I needed to know but concepts.
         <i class="fa fa-quote-right" aria-hidden="true" style="font-size:20px; color: #999; text-align: left;"></i>   <p>- Marc Graham, UCLA Coding Bootcamp</div>
    </div>
</div>