
<div class="login-container">
  <div id="login-input-container">
    <h2 class="page-header">Account Login</h2>
      <div id="error-block">  
        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}

</div>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
      <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
      <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>

    <h6 class="account-register">Don't have an account? <a href="register" style="text-decoration: underline; font-size: 10px;">Register</a> with us!</h6>
   <h6><a class="forgot-password" href="#"  style="text-decoration: underline;">Forgot your password?</h6>
  <button type="submit" id="login">Log In</button>
  <div class="error-block">

</div>
</form>
</div>
</div>
<footer class="footer" style="position: absolute; bottom: 0;">@justin.park @andrey.orlov @eva.lieu @francis.ian.lao</footer>