<div class="container">
    <div class="profile-header">
        <h1>Welcome {{username}}!</h1>
        <p>Start reviewing web development concepts and be a programming nerd!</p>
    </div>


    <div id="content-container">
   <p>In modern web development, you have to be competent and pretty sharp with the latest technology. The world is competitive. but dont worry, shinsa will compile the questions for you and make your life easier to ace your next technical interview.</p>
   <button id="link-button" onclick="window.location.href='/html'">HTML</button>
       <button id="link-button" onclick="window.location.href='/css'">CSS</button>
           <button id="link-button" onclick="window.location.href='/javascript'">JavaScript</button>
</div>