<img src="/assets/img/logo.png" class="img-logo"><span class="logo">K<span class="red">ou</span>sh<span class="red">i</span></span>
</nav>

<div class="profile-nav"></div>
<div class="profile-content">
    <div id="html">
        <div id="content-header">
            HTML
        </div>
    </div>


    <div id="css">
         <div id="content-header">
            CSS
        </div>
    </div>


    <div id="javascript">
         <div id="content-header">
            JavaScript
        </div>
    </div>

</div>